body{
  background-image: url(background.jpg);
  background-size: cover;
  width: 1250px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body > div{
  margin: 2%;
  padding: 8%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

header{
  text-align: center;
  color: rgb(0,221,0);
}

header div{
  margin: 1%;
  padding: 1%;
  background-color: rgb(0,221,0);
}

section{
  margin-top: 2%;
  margin-left: 1%;
}

.sottotitolo{
  font-size: 24px;
}

.riduzione-testo{
  font-size: 15px;
  display: block;
}

section div{
  margin-top: 4px;
  margin-bottom: 3%;
  border-radius: 10px;
}

#monopattino-gino {
    background-color: rgb(245,180,83);
    width: 350px;
    height: 34px;
}

#monopattino-mike{
  background-color: rgb(30,195,30);
  width: 600px;
  height: 34px;
}

#monopattino-fede{
  background-color: rgb(190,65,65);
  width: 150px;
  height: 34px;
}

*{
  box-sizing: border-box;
  margin: 0;
}
